.home-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
.video-player-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
  }
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   }

.input{
    font-family: 'Mplus 1p Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    width: 90%;
    line-height: 150%;
    letter-spacing: -0.019em;
    align-items: center;
  }

  .selectedCharacter {
    position: absolute;
    left: -50%;
    top: 30%;
    width: 10px;
    height: 50px;
  }