.many_guides{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.guide{
    text-decoration-line: none;
    color: #000;
}
.guide :visited{
    color: black;
}