.one_guide{
    margin: 50px;
    width: 100px;
    height: 100px;
}
.one_guide img{
    width: 90px;
    height: 80px;
}

.guide_name{
    font-family: 'Mplus 1p Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-decoration-line: none;
    color: #000;
}
.guide_name :visited{
    color: black;
}