.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
.background-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FDEED7;
    opacity: 1;
  }
  
.logo-image {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1000px;
    z-index: 1;
  }
  
  .content {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
  }
  
  h1 {
    margin: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 48px;
  }
  
  button {
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
  }
  