
.marker {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


.marker-icon {
  width: 64px; /* Increase the size of the marker icon */
  height: 64px; /* Increase the size of the marker icon */
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -1px; /* Reduce the spacing between the popup and the image */
  margin-top: -1px; /* Reduce the spacing between the popup and the image */
}

.popup-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 1%;
  margin-bottom: -20px;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.popup-text {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 1px; /* Reduce the spacing between the popup and the image */
}
.where{
  position: relative;
  z-index: 10;


}


.map-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url('../icons/worldmap.png');
  background-size: 70%; /* Adjust the background size */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F6EDD6;
}

.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  z-index: 9999;
}

.confirmation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.confirmation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirm-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button {
  background-color: #fff;
  color: #000;
}

.cancel-button {
  background-color: transparent;
  color: #fff;
}
.confirmation-modal p {
  font-size: 24px; /* Adjust the font size as desired */
}

.title {
  position: fixed;
  top: 2%; /* Adjust to move the title up or down */
  left: 50%; /* Center the title */
  transform: translateX(-50%); /* Center the title */
  font-size: 60px; /* Adjust the font size */
  font-weight: bold;
  text-align: center;
  z-index: 999; 
}
